<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Applications/MockPlatform">
        <classes>
            <class name="modules.com.Program1">
                <methods>
                    <include name="VerifyTitle"/>
                    <include name="verifyBackgroundColor"/>
                    <include name="verifyWelcomeText"/>
                    <include name="pendingQuoteRadioButton"/>
                    <include name="createQuoteFunctionalityVerifications"/>
                    <exclude name="endToEndVerifications"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>